*.csv filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
credit-card-fraud-detection/fraudTest.csv filter=lfs diff=lfs merge=lfs -text
credit-card-fraud-detection/fraudTrain.csv filter=lfs diff=lfs merge=lfs -text
